<div>
    <h2>Pacientes en espera</h2>
</div>
<div>
    <tr>
        <th>id de atencion</th>
        <th>estado de paciente</th>
        <th>rut de paciente</th>
    </tr>
    <tr *ngFor="let i of pacient">
        <td>{{ i.ID_ATENCION }}</td>
        <td>{{ i.ATENCION_PACIENTE }}</td>
        <td>{{ i.RUT_PACIENTE }}</td>
        <div *ngIf="i.ATENCION_PACIENTE == 'EN ESPERA'">
            <td><button (click)="getId($event)" value="{{ i.ID_ATENCION }}">Marcar paciente atendido</button></td>
        </div>
        <div *ngIf="i.ATENCION_PACIENTE == 'ATENDIDO'">
            <td><button disabled="disabled">Paciente atendido</button></td>
        </div>
    </tr>
</div>