<body>
    <div class="center">
        <div>
            <form class="form__space" [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
                <h1 style="text-align: center;">Registrarse</h1>
                <div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="text" name="rut" placeholder="XXXXXXXX-X" formControlName="rut">
                    </div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="text" name="firstName" placeholder="Primer nombre" formControlName="pnombre">
                    </div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="text" name="secondName" placeholder="Segundo nombre" formControlName="snombre">
                    </div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="text" name="firstLastName" placeholder="Apellido paterno" formControlName="apaterno">
                    </div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="text" name="secondLastName" placeholder="Apellido materno" formControlName="amaterno">
                    </div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="tel" name="cellphone" placeholder="Número de celular" formControlName="celular">
                    </div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="date" name="dateBorn" formControlName="fecnac">
                    </div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="email" name="email" placeholder="Correo electronico" formControlName="email">
                    </div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="password" name="password" placeholder="Contraseña" formControlName="pass1">
                    </div>
                    <div class="center" style="margin-bottom: 15px">
                        <input class="form__input" type="password" name="confirmPassword" placeholder="Confirme su contraseña" formControlName="pass2">
                    </div>
                    <div class="form__div_button">
                        <button class="form__button" type="submit">Registrarme</button>
                        <button class="form__button" type="reset">Limpiar campos</button>
                        <button class="form__button" [routerLink]="['/']">Cancelar</button>
                    </div>
                    <div>
                        <label>¿Ya tienes cuenta? <a [routerLink]="['/login']">Inicia sesión aquí</a></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>