<body>
    <h1>Registrarse</h1>
    <div>
        <form>
            <div>
                <fieldset>
                    <label for="gender">Género:</label>
                    <label for="masculine"><input type="radio" name="masculine">Masculino</label>
                    <label for="femenine"><input type="radio" name="femenine">Femenino</label>
                </fieldset>
            </div>
            <div>
                <label for="rut">Ingrese su rut:</label>
                <input type="text" name="rut" placeholder="XXXXXXXX-X">
            </div>
            <div>
                <label for="firstName">Ingrese su primer nombre:</label>
                <input type="text" name="firstName" placeholder="Primer nombre">
            </div>
            <div>
                <label for="secondName">Ingrese su segundo nombre:</label>
                <input type="text" name="secondName" placeholder="Segundo nombre">
            </div>
            <div>
                <label for="firstLastName">Ingrese su apellido paterno:</label>
                <input type="text" name="firstLastName" placeholder="Apellido paterno">
            </div>
            <div>
                <label for="secondLastName">Ingrese su apellido materno:</label>
                <input type="text" name="secondLastName" placeholder="Apellido materno">
            </div>
            <div>
                <label for="cellphone">Ingrese su número de celular:</label>
                <input type="tel" name="cellphone" placeholder="Número de celular">
            </div>
            <div>
                <label for="dateBorn">Fecha de nacimiento:</label>
                <input type="date" name="dateBorn">
            </div>
            <div>
                <label for="email">Ingrese su correo electronico:</label>
                <input type="email" name="email" placeholder="Correo electronico">
            </div>
            <div>
                <label for="password">Ingrese su contraseña:</label>
                <input type="password" name="password" placeholder="Contraseña">
            </div>
            <div>
                <label for="confirmPassword">Confirme su contraseña:</label>
                <input type="password" name="confirmPassword" placeholder="Confirme su contraseña">
            </div>
            <div>
                <button type="submit">Registrarme</button>
                <button type="reset">Limpiar campos</button>
                <button [routerLink]="['/']">Cancelar</button>
            </div>
        </form>
        <div>
            <label>¿Ya tienes cuenta? <a>Inicia sesión aquí</a></label>
        </div>
    </div>
</body>