<body>
    <div class="center">
        <div>
            <form class="form__space" [formGroup]="signUpForm" (ngSubmit)="addPatient()">
                <div class="form__padding">
                    <h1 style="text-align: center;">Registrarse</h1>
                    <div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="text" name="rut_paciente" placeholder="XXXXXXXX-X" formControlName="rut_paciente">
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input type="radio" id="generChoiseF" name="genero_paciente" value="F" formControlName="genero_paciente" required/>
                            <label for="generChoiseF">Femenino</label>

                            <input type="radio" id="generChoiseM" name="genero_paciente" value="M" formControlName="genero_paciente" required/>
                            <label for="generChoiseM">Masculino</label>
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="text" name="apaterno_paciente" placeholder="Apellido paterno" formControlName="apaterno_paciente">
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="text" name="amaterno_paciente" placeholder="Apellido materno" formControlName="amaterno_paciente">
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="text" name="pnombre_paciente" placeholder="Primer nombre" formControlName="pnombre_paciente">
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="text" name="snombre_paciente" placeholder="Segundo nombre" formControlName="snombre_paciente">
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="tel" name="num_paciente" placeholder="Número de celular" formControlName="num_paciente">
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="date" name="fecnac_paciente" formControlName="fecnac_paciente">
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="email" name="correo_paciente" placeholder="Correo electronico" formControlName="correo_paciente">
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="password" name="password_paciente" placeholder="Contraseña" formControlName="password_paciente">
                        </div>
                        <div class="center" style="margin-bottom: 15px">
                            <input class="form__input" type="password" name="confirmPassword_paciente" placeholder="Confirme su contraseña" formControlName="confirmPassword_paciente">
                        </div>
                        <div class="form__div_button">
                            <button class="form__button" type="submit">Registrarme</button>
                            <button class="form__button" type="reset">Limpiar campos</button>
                            <button class="form__button" [routerLink]="['/']">Cancelar</button>
                        </div>
                        <div>
                            <label>¿Ya tienes cuenta? <a [routerLink]="['/login']">Inicia sesión aquí</a></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>