<body>
    <div class="center">
        <div class="form">
            <form class="form__space" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                <div style="padding-top: 5px">
                    <h1>Iniciar sesión</h1>
                </div>
                <div style="margin-bottom: 15px">
                    <input class="form__input" type="email" id="email" placeholder="Ingrese su correo" formControlName="email">
                </div>
                <div>
                    <input class="form__input" type="password" id="password" placeholder="Ingrese su contraseña" formControlName="password">
                </div>
                <div class="form__div_button">
                    <button class="form__button" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
                </div>
                <div style="padding: 30px">
                    <div>
                        <label>¿No tienes cuenta? <a [routerLink]="['/signup']">Registrate aquí</a></label>
                    </div>
                    <div>
                        <label>¿Olvidaste tu contraseña? <a [routerLink]="['/forget']">Haga click aquí</a></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>