<header>
    <div *ngIf="login; then Identified else noIdentified"></div>
    <ng-template #noIdentified>
        <nav>
            <ul style="display: flex; justify-content: center;">
                <li><a [routerLink]="['/login']" [routerLinkActive]="['actived']">Iniciar sesión</a></li>
                <li id="logo"><a [routerLink]="['/']">Inicio</a></li>
                <li><a [routerLink]="['/signup']" [routerLinkActive]="['actived']">Registrarse</a></li>
            </ul>
        </nav>
    </ng-template>
    <ng-template #Identified>
        <nav>
            <ul style="display: flex; justify-content: center;">
                <li><a [routerLink]="['/login']" [routerLinkActive]="['actived']" (click)="logout()">Cerrar sesión</a></li>
                <li id="logo"><a [routerLink]="['/']">Inicio</a></li>
                <li><a [routerLink]="['/request']" [routerLinkActive]="['actived']">Solicitar hora</a></li>
            </ul>
        </nav>
    </ng-template>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
    centro médico GALENOS
</footer>