<header>
    <ul>
        <li><a [routerLink]="['/login']" [routerLinkActive]="['actived']">Iniciar sesión</a></li>
        <li><a [routerLink]="['/signup']" [routerLinkActive]="['actived']">Registrarse</a></li>
        <li id="logo"><a [routerLink]="['/']">Centro Médico <strong>GALENOS</strong></a></li>
        <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contacto</a></li>
        <li><a [routerLink]="['/locations']" [routerLinkActive]="['actived']">Horario y ubicaciones</a></li>
    </ul>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
    centro médico GALENOS
</footer>