<body>
    <div class="center">
        <div class="form">
            <form class="form__space" [formGroup]="forgetForm" (ngSubmit)="forget()">
                <div style="padding-top: 5px">
                    <h1>Cambiar contraseña</h1>
                </div>
                <div style="margin-bottom: 15px">
                    <input class="form__input" type="email" id="correo_paciente" placeholder="Ingrese su correo" formControlName="correo_paciente">
                </div>
                <div style="margin-bottom: 15px">
                    <input class="form__input" type="password" id="password_paciente" placeholder="Ingrese su contraseña" formControlName="password_paciente">
                </div>
                <div style="margin-bottom: 15px">
                    <input class="form__input" type="password" id="confirmPassword_paciente" placeholder="Confirme su contraseña" formControlName="confirmPassword_paciente">
                </div>
                <div class="form__div_button">
                    <button class="form__button" type="submit" [disabled]="forgetForm.invalid">Cambiar contraseña</button>
                </div>
                <div style="padding: 30px">
                    <div>
                        <label>¿No tienes cuenta? <a [routerLink]="['/signup']">Registrate aquí</a></label>
                    </div>
                    <div>
                        <label>¿Quiere iniciar sesión? <a [routerLink]="['/login']">Haga click aquí</a></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>