<body>
    <div class="options__center">
        <div class="options__grid">
            <div class="options__1">
                <div class="options__center">
                    <div>
                        <h2>Nuestras sucursales</h2>
                        <div class="options__space">
                            <a [routerLink]="['/']"><div class="options__icon"></div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="options__2">
                <div class="options__center">
                    <div>
                        <div class="options__space">
                            <h2>Tomar Hora</h2>
                            <a [routerLink]="['/']"><div class="options__icon"></div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="options__3">
                <div class="options__center">
                    <div>
                        <div class="options__space">
                            <h2>Solicitar hora</h2>
                            <a [routerLink]="['/']"><div class="options__icon"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>